* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: auto;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 15px;
  background-color: blue;
  color: white;
  font-size: large;
  font-weight: bolder;
  padding: 5px;
  border-radius: 10px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  

}

.container {

  background-color: gray;
  display: flex;
  height: 50vh;
  width: 60vw;
  max-width: 350px;

  
}

.divsx {

  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.divsy {
  border: white 1px solid;
  flex-grow: 1;

}